body{
    .lato-bold 
        font-family: "Lato", sans-serif;
        font-weight: 700;
        font-style: normal;
      }


      /* footer start */
.banner{
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    padding: 0px 240px 0px 240px;
    gap: 97px;
}
.banner-content{
    margin-top: 197px;
}
.banner-title{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 32px;
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
}
.btn-primary{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 147px;
    padding: 20px 40px;
    border-radius: 8px;
    background: #E55473;
    border: none;
}
.banner-img{
    margin-top: 90px;
    margin-bottom: 0px;
    width: 635px;
    height: 800px;
}
/* footer end */


/* main section start */
.featured{
    text-align: center;
    margin-top: 175px;
}
.featured-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.featured-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}
.flower{
    display: flex;
    margin: 48px 240px 0px;
    gap: 25px;
    justify-content: center;
}
.flower-img1 > img{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 67px 0px;
}
.flower-img2 > img{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 117px 48px 50px;
}
.flower-img3 > img{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 67px 75px 0px;
}
.flower-description{
    color: #272727;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    text-decoration-line: underline;
    margin-top: 32px;
}
.box{
    display: flex;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 128px 240px;
    justify-content: center;
    padding: 86px 0px;
}
.box-img > img{
    margin-right: 200px;
}
.box-description{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-top: 24px;
    margin-right: 100px;
}
.rose{
    display: flex;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}
.rose-banner{
    margin-top: 230px;
    text-align: center;
    margin-left: 395px;
}
.rose-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.off{
    color: #E55473;
}

.rose-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.btn-secondary{
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: none;
    margin-bottom: 160px;
    color: #FFFFFF;
}
.rose-img{
    margin: 130px 430px 100px 160px;
}
.social-name{
    text-align: center;
    margin-top: 128px;
    /* margin-bottom: 24px; */
}
.social-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.social-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding: 0px 663px;
    margin-bottom: 57px;
}
.social1{
    display: flex;
    margin: 50px 240px 130px;
    gap: 24px;
}
.form{
    background-image: url('../Flower Asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.form-section{
    text-align: center;
    justify-content: center;
    padding: 120px 287px;
}
.form-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}
.form-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.email{
    border-radius: 8px;
    background: #FFF;
    padding: 20px 513px 20px 22px;
    margin-right: 16px;
}
.btn-third{
    border-radius: 8px;
    background: #E55473;
    padding: 20px 30px;
    color: #FFFFFF;
}

/* main section end */

/* footer section start   */
.footer{
    background: #111010;
    margin-top: 128px;
}
.footer-section{
    text-align: center;
}
.footer-title{
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    padding: 128px 832px 0px;
    margin-bottom: 24px;
}
.shop{
    color: #FFFFFF;
}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
    padding: 0px 648px;
}
.footer-description1{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 128px;
}